<nav class="navbar-container">
  <div class="list-menu-item">
    <a href="/"><img src="/images/sounder_app_logo.png" class="icon-gap">Sounder</a>
  </div>
  <div class="item-menu w3-hide-small">
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">queue_music</i>Playlists</a>
    </div>
    <div class="list-menu-item">
      <a href="/tracks"><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
    </div>
    <div class="list-menu-item w3-dropdown-click">
      <a onclick="showOptions()" href="#"><img src="{{user.imageURL}}" class="icon-gap">{{user.name}}</a>
      <div id="user-options" class="w3-dropdown-content">
        <a href="/logout" class="w3-bar-item">Logout</a>
      </div>
    </div>
  </div>
  
  <a href="javascript:void(0)" class="w3-bar-item w3-right w3-hide-large w3-hide-medium drop-icon" onclick="dropdownMenu()"><img src="{{user.imageURL}}" class="icon-gap img-avatar">&#9776;</a>
</nav>

<div id="dropdowm-menu" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium dropdown-menu">
  <a href="/playlists" class="w3-bar-item "><i class="material-icons md-18 icon-gap">queue_music</i>Playlists</a>
  <a href="/tracks" class="w3-bar-item "><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
  <a href="/logout" class="w3-bar-item "><i class="material-icons md-18 icon-gap">person_outline</i>Logout of {{user.name}}</a>
</div>