<nav class="navbar-container">
		<div class="list-menu-item">
      <a href="/"><img src="/images/sounder_app_logo.png" class="icon-gap">Sounder</a>
    </div>
    <div class="item-menu">
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">queue_music</i>Playlists</a>
    </div>
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
    </div>
    <div class="list-menu-item">
      <a href="#"><img src="{{user.imageURL}}" class="icon-gap" >Profile</a>
    </div> 
  </div>
</nav>