
// Color pattern
$deepBlue: #252b34;
$skyBlue: #14BEF0;
$pink-red: #B82050;
$red: #e71d1d;
$darkred: #c40d0d;
$green: #1db954;
$darkgreen: #109b41;
$likegreen: #0dd30d;


*{padding: 0; margin: 0;}

*, *:before, *:after {
  box-sizing: initial;
}

html,
body {
  background-color: #000;
  position: relative;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
}

.overflow-hidden {
  overflow: hidden;
}


button {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.material-icons.md-36 { font-size: 36px; }

#bg-before {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 200px #000;
  filter: blur(15px);
  height: 100%;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%
}

.btn-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 14px 0;
}

.open-btn  {
  a {
    position: relative;
    color: white;
    padding: 5px;
    font-size: 0.7em;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;

    &:hover {
      background-color: rgb(1, 155, 101);
    }

    &:active {
      box-shadow: none;
    }
  }
}

.del-btn {
  a {
    position: relative;
    color: white;
    padding: 5px;
    font-size: 0.7em;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 30px;

    &:hover {
      background-color: $darkred
    }

    &:active {
      box-shadow: none;
    }
  }
}

.playlist-container {
  margin: 0 auto;
  width: 40%;
}

.playlist-cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80px;
  height: 80px;
  border: 1px solid lightgrey;
  margin-right: 20px;
}

.playlists-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 20px;
  border: 2px solid $pink-red;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.19);
}

.title-header {
  display: block;
  width: 420px;
  margin: 0 auto;
  text-align: center;
  color: white;

  h2 {
    color: $skyBlue;
    font-size: 2.5em;
    text-align: center;
  }
}



.bg-dark {
  background-color: $deepBlue;
  min-height: 100vh;

  h1 {
    color: $skyBlue;
    font-size: 3.5em;
  }

  h2, h3 {
    color: white;
  }

  p {
    padding: 30px 0;
    color: white;
  }
}

.bg-red:hover {
  color: $darkred !important;
}

.tracks-container, .playlists-container {
  width: 80%;
  margin: 80px auto 0 auto;
}

.tracks-container {

  h1 {
    text-align: center;
    color: $skyBlue;
    font-weight: 700;
  }

  li {
    border-bottom: 1px solid  #3a3939 ;
  }
}

.track-info, .playlist-info {
  width: 70% !important;
}

.w3-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: white;
  padding: 8px 0 !important;
  &:hover {
    background-color: #3a3939;
  }
}

.track-link {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    &:hover {
      color: $skyBlue;
    }
  }
}

#user-options a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#tracks-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}

#playlist-name {
  padding: 4px;
  border: none;
  height: 30px;
  width: 200px;
  margin-right: 30px;
  border-bottom:1px solid $skyBlue;
  background-color: $deepBlue;
  color: white;
  &:focus {
    outline: none;
  }
}

.add-track-button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  &:hover {
    color: $skyBlue;
  }
}

#add-playlist-button {
  border-radius: 20px;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  background-color: $green;
}

#add-playlist-button-mobile {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
  color: white;
  background-color: $green;
}

@media (min-width: 768px) {

  .desktop-visible {display: block;}
  .mobile-visible {display: none;}

  #add-playlist-button { display: inline-block; }
  #add-playlist-button-mobile { display: none; }

  .playlist-container {
    margin: 0 auto;
    width: 40%;
  }
}

@media (max-width: 767px) {

  .desktop-visible {display: none;}
  .mobile-visible {display: block;}

  .tracks-container { width: 100%; }
  #playlist-name { width: 150px; }
  #tracks-header { padding-right: 20px;}
  #add-playlist-button { display: none; }
  #add-playlist-button-mobile { display: inline-block; }

  .playlist-container {
    width: 100%;
  }
}

.w3-bar-item-custom {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $skyBlue;
  }
}

.w3-right-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.drop-icon {
  margin-right: 20px;
}

.dropdown-menu {
  z-index: 1;
  position: fixed;
  top: 60px;
  width: 95%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 10px 50px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: none;
      color: $skyBlue;
    }
  }
}

.img-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.delete-btn {
  border: none;
  background-color: transparent;
  margin-right: 10px;
  &:hover {
    color: red;
  }
}

.modal-container-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 0;
}

.modal-color-custom {
  background-color: $deepBlue;
}

.confirm-delete-btn {
  background-color: red;
  border-radius: 20px;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
}

.cancel-delete-btn {
  border-radius: 20px;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  background-color: $green;
}
