<div class="bg-dark">
  <div class="404-container">
    <div class="img-error">
      <img src="/images/404.png"/>
    </div>
    <div class="error-message">
      <h2>Page {{url.slug}} not found</h2>
      <p>Got to <a href="/discovery">Discovery page</a>!</p>
    </div>
  </div>
</div>
