<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="manifest" href="manifest.json">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SounderApp</title>
</head>
<body>
  {{#if user}}
  <nav class="navbar-container">
		<div class="list-menu-item">
      <a href="/"><img src="/images/favicon-32x32.png" class="icon-gap">Sounder</a>
    </div>

    <div class="item-menu">
      <div class="list-menu-item">
        <a href="/playlists"><i class="material-icons md-18 icon-gap">queue_music</i>Playlist</a>
      </div>

      <div class="list-menu-item">
        <a href="/tracks"><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
      </div>

      <div class="list-menu-item">
        <a href="#"><img src="{{user.imageURL}}" class="icon-gap">{{user.name}}</a>
      </div> 
    </div>

	</nav>
  {{/if}}
  
  {{{ body }}}

  <script src="javascripts/script.js"></script>
</body>
</html>