
<div>
  <h2>track name: {{name}}</h2>
  {{#each album.images}}
    <img src="{{this.url}}" height="100" width="100">
  {{/each}}
  <audio controls src="{{preview_url}}"></audio>
  {{#each artists}}
    <p>{{this.name}}</p>
  {{/each}}
</div>