<div class="home-container">
  <div class="info-wrap">
    <h1>Sounder</h1>
    <h2>The new way of discovery the song you love</h2>
    <p>With sounder app you can quickly fetch new songs based on your listening habit. With an intuitive flow, you can master our recomendation and personalized it even more by liking or disliking it. After that, just add it to a new playlist and listenign in your Spotify account.</p>
    <div class="home-btn">
      <a href="/auth/spotify"><i class="material-icons">play_circle_outline</i> Login With Spotify</a>
    </div>
  </div>
  <div class="img-wrap"><img src="/images/sounder-preview-img.png" width="400px" alt="Sounder"/></div>
</div>