<section class="bg-dark home-small">
  <div class="home-container">
    <div class="info-wrap">
      <div class="logo">
        <img src="images/android-chrome-192x192.png" width="80px"><h1>Sounder</h1>
      </div>
      <h2>The new way of discovering the song you love</h2>
      {{!-- <p>With Sounder app you can quickly discover new songs based on your Spotify liked tracks library. With an intuitive flow, you can
        hear new recomendations and personalize it even more by liking or disliking it. After that, just add it to a
        new playlist and listen in your Spotify account.</p> --}}

        <div class="img-wrap mobile-visible">
      <img src="/images/sounder-preview-img.png" width="300px" alt="Sounder" />
    </div>

      <div class="home-btn">
        <a href="/auth/spotify"><i class="material-icons">play_circle_outline</i> Login With Spotify</a>
      </div>
    </div>
    <div class="img-wrap desktop-visible">
      <img src="/images/sounder-preview-img.png" width="400px" alt="Sounder" />
    </div>
  </div>
</section>